body {
    background: #eee;
    font-size: 18px;
    font-family: Verdana, serif;
}

.title {
    font-weight: normal;
    margin-top: 0;
}

.wrapper {
    max-width: 720px;
    margin: 1rem auto;
    padding-top: 1rem;
}

.app {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
}

.column__right {
    min-width: 400px;
    max-width: 500px;
    flex: 2;
}

.nav-el {
    display: inline-block;
    text-decoration: none;
    min-width: 150px;
    padding: 10px;
    background: grey;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.nav-el:hover {
    cursor: pointer;
    background: dimgrey;
}


footer {
    color: grey;
    margin: 2rem 0;
    font-size: 0.8rem;
}

select {
    min-width: 150px;
    padding: 10px;
    background: #eee;
    border: 4px solid grey;
    color: grey;
    font-size: 20px;
    margin-bottom: 5px;
}

.graph {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.graph-wrapper {
    position: relative;
}

.graph-info {
    position: absolute;
    background: #ffffffaa;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.graph-info::after {
    content: " ";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #ffffffaa;
    border-bottom: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: inherit;
}
